
@{
    ViewData["Title"] = "Chính sách";
    Layout = "~/Views/Shared/Layout_Sanpham.cshtml";
}


<div id="page-content" class="home-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading"> <h2>Chính Sách</h2></div>


                <h5>CHÍNH SÁCH BẢO MẬT</h5>
                Chúng tôi biết rằng sự riêng tư và bảo mật thông tin cá nhân rất quan trọng đối với người dùng, vì vậy chúng tôi cam kết nổ lực tối đa bảo vệ sự riêng tư của bạn.
                Chính sách bảo mật mô tả cách thức chúng tôi thu thập và xử lý các thông tin cá nhân khi bạn sử dụng dịch vụ. Bạn đồng ý sử dụng dịch vụ , có nghĩa là bạn hoàn toàn đồng ý với các nội dung chúng tôi nếu trong Chính sách bảo mật này. Chúng tôi có thể sửa đổi nội dung của chính sách bằng cách đăng một bản sửa đổi lên, phiên bản sửa đổi có hiệu lực kể từ thời điểm đăng tải.

                <h5> Thông tin chúng tôi thu thập</h5>
                Để có thể sử dụng đầy đủ các tiện ích trên Test12.Somee.com, bạn cần phải đăng ký thành viên và cung cấp các thông tin cá nhân của mình. Chúng tôi có thể thu thập các thông tin sau về bạn:
                Tên công ty, cửa hàng, đơn vị kinh doanh
                Họ Tên, tuổi, địa chỉ cư trú
                Email, số điện thoại di động, số điện thoại bàn
                Địa chỉ IP (Internet Protocol), loại trình duyệt web (Browser), tốc độ đường truyền, số trang bạn xem, thời gian bạn viếng thăm, những địa chỉ mà Browser này truy xuất đến.
                Test12.Somee.com bảo vệ và lưu trữ thông tin của bạn như thế nào?
                Chúng tôi lưu trữ và xử lý thông tin cá nhân của bạn trên máy chủ, chúng tôi bảo vệ nó bằng các biện pháp bảo vệ vật lý, điện tử bao gồm: tường lửa, mã hóa dữ liệu và thủ tục áp dụng theo quy định của luật bảo mật thông tin. Thực thi kiểm soát truy cập vật lý vào các thông tin, và chúng tôi chỉ cho phép truy cập thông tin cá nhân đối với những nhân viên cần nó để hoàn thành trách nhiệm công việc của họ trong hệ thống .

                <h5>Sử dụng thông tin của bạn</h5>
                Mục tiêu là mang lại cho khách hàng một hạ tầng dịch vụ phục vụ quảng bá và phát triển thương hiệu, mở rộng kinh doanh trên Internet một cách hiệu quả, tối ưu về chi phí và thời gian. Vì vậy, chúng tôi sử dụng thông tin cá nhân của bạn nhằm:

                Cung cấp thông tin, các dịch vụ và sự hỗ trợ theo yêu cầu của bạn
                Gửi email thông báo các chương trình, sự kiện tiêu biểu của chúng tôi
                Giải quyết các tranh chấp, các vấn đề phát sinh liên quan đến việc sử dụng website
                Ngăn chặn các hoạt động phạm pháp hoặc bị cấm được nêu trong Quy định sử dụng
                Đo lường và cải thiện các dịch vụ của chúng tôi
                So sánh, đối chiếu tính chính xác của thông tin mà bạn cung cấp với bên thứ ba


            </div>
        </div>
    </div>
</div>
