
@{
    ViewData["Title"] = "Điều khoản";
    Layout = "~/Views/Shared/Layout_Sanpham.cshtml";
}



<div id="page-content" class="home-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading"> <h2>Điều Khoản Sử Dụng</h2></div>


                <h5>Quyền sở hữu</h5>
                Mọi tài liệu, bao gồm mọi hình ảnh, phần mềm, văn bản và đồ họa, các nút, từ khóa, siêu mã và ‘giao diện’ chung, (“Nội dung”), có trên Trang được bảo vệ bởi bản quyền theo các luật lệ quốc gia và hiệp ước quốc tế. Các nhãn hiệu, logo và biểu tượng công ty hiển thị trên Trang đều phải tuân thủ nhãn hiệu và các quyền hạn khác của Laptop Shop hoặc của các nhà cung cấp nội dung liên quan.

                Bạn không được sử dụng Nội dung ngoại trừ được nêu rõ ở đây. Vi phạm những Điều khoản sử dụng này có thể đồng nghĩa với việc vi phạm các quyền sở hữu trí tuệ của chúng tôi cũng như của các nhà cung cấp nội dung liên quan, và Laptop Shop hoặc các nhà cung cấp nội dung liên quan có thể cần khởi kiện để bảo vệ các quyền này. Bạn có thể xem và in Nội dung cũng như các tài liệu được phân phát liên quan, miễn là các tài liệu này chỉ được dùng cho mục đích thông tin và mục đích cá nhân phi thương mại, và bạn phải ghi rõ nguồn tham khảo là từ Laptop Shop mỗi khi sử dụng tài liệu. Bạn không được phép trao đổi, chỉnh sửa, bán, thiết kế đối chiếu hoặc truyền tải bất kỳ nội dung nào trên Trang. Thông cáo báo chí và các tài liệu khác được phân loại là chung có thể dùng để công bố công khai với điều kiện là phải nêu rõ nguồn gốc của thông tin.

                Nếu bạn gửi bất kỳ thông tin hoặc tài liệu nào đến Trang bằng email hoặc phương tiện khác, mọi thông tin đó sẽ không được xem là bí mật cũng như không thuộc sở hữu riêng. Laptop Shop có toàn quyền sử dụng mà không phải đền bù cho bạn về mọi khái niệm, ý tưởng, bí quyết hoặc kỹ xảo có trong mọi thông tin mà bạn gửi lên Trang cho bất kỳ mục đích nào. Tuy nhiên, bạn đồng ý và hiểu rõ rằng Laptop Shop không bắt buộc phải dùng mọi ý tưởng hoặc tài liệu đó và bạn cũng không có quyền bắt buộc chúng tôi phải sử dụng.

                <h5>Thông tin cá nhân nộp để Đăng ký, Sử dụng và chấm dứt dịch vụ</h5>
                <br />
                Người dùng các dịch vụ Laptop Shop được cung cấp qua Trang này đồng ý: (a) cung cấp thông tin đúng, chính xác, cập nhật và đầy đủ về bản thân như được thông báo qua mẫu Đăng ký người dùng (thông tin này là “Dữ liệu đăng ký”) và (b) duy trì và cập nhật kịp thời Dữ liệu đăng ký để thông tin luôn đúng, chính xác, cập nhật và đầy đủ. Nếu bạn cung cấp bất kỳ thông tin nào không đúng, không chính xác, chưa cập nhật hoặc chưa đầy đủ, hoặc nếu Laptop Shop có lý do chính đáng để nghi ngờ rằng thông tin đó là không đúng, không chính xác, chưa cập nhật hoặc chưa đầy đủ, thì Laptop Shop có quyền tạm dừng hoặc chấm dứt quyền truy cập và sử dụng dịch vụ của bạn.

                Bạn có thể được yêu cầu cung cấp hoặc bạn có thể nhận thông tin xác nhận mật khẩu và tên đăng nhập sau khi hoàn tất quy trình đăng ký dịch vụ cụ thể. Các mật khẩu hoặc tên đăng nhập đó sẽ chỉ dành riêng cho bạn và bạn không được phép chuyển nhượng. Bạn có trách nhiệm duy trì tính bảo mật của mật khẩu vả hoàn toàn chịu trách nhiệm về mọi hoạt động diễn ra liên quan đến mật khẩu hoặc tài khoản của bạn. Bạn đồng ý thông báo ngay cho Laptop Shop về mọi hành vi sử dụng trái phép mật khẩu hoặc tài khoản của bạn hoặc mọi vi phạm khác về bảo mật. Laptop Shop không thể và sẽ không chịu trách nhiệm về mọi mất mát hoặc thiệt hại phát sinh từ việc bạn không tuân thủ những Điều khoản sử dụng này.

                Nếu không còn muốn sử dụng bất kỳ dịch vụ nào, bạn có thể chấm dứt tài khoản của mình liên quan đến dịch vụ đó và bạn sẽ không thể truy cập vào tài khoản của mình được nữa. Nếu có dấu hiệu cho thấy bạn đang vi phạm những Điều khoản sử dụng này, Laptop Shop có thể hủy ngay quyền truy cập của bạn vào bất kỳ dịch vụ nào mà không cần thông báo trước. Ngoài ra, Laptop Shop có thể xóa tài khoản hoặc giới hạn quyền truy cập của bạn vào một số phần nhất định trong các dịch vụ nếu bạn chưa truy cập hoặc sử dụng dịch vụ cụ thể trong vòng sáu (6) tháng qua.

                Bạn hiểu rõ và xác nhận rằng, ngay sau khi xóa bỏ, một số tài liệu mà bạn đã đăng tải vẫn có thể được giữ lại làm tài liệu cất giữ và/hoặc lưu trữ.


            </div>
        </div>
    </div>
</div>
