
@{
    ViewData["Title"] = "GioiThieu";
    Layout = "~/Views/Shared/Layout_Sanpham.cshtml";
}
<div id="page-content" class="home-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading"> <h2>Giới Thiệu</h2></div>



                ASP.NET Core là một open-source mới và framework đa nền tảng (cross-platform) cho việc xây dựng những ứng dụng hiện tại dựa trên kết nối đám mây, giống như web apps, IoT và backend cho mobile. Ứng dụng ASP.NET Core có thể chạy trên .NET Core hoặc trên phiên bản đầy đủ của .NET Framework. Nó được thiết kế để cung cấp và tối ưu development framework cho những dụng cái mà được triển khai trên đám mây (clound) hoặc chạy on-promise. Nó bao gồm các thành phần theo hướng module nhằm tối thiểu tài nguyên và chi phí phát triển, như vậy bạn giữ lại được sự mềm giẻo trong việc xây dựng giải pháp của bạn. Bạn có thể phát triển và chạy những ứng dụng ASP.NET Core đa nền tảng trên Windows, Mac và Linux. Đồng thời nó đã trở thành một mã nguồn mở. Đây là một thay đổi rất lớn và theo mình là quan trọng nhất của ASP.NET Core. Điều mà trước đây khó có một lập trình viên nào có thể nghĩ đến. Có lẽ đó cũng là một xu thế mà các ngôn ngữ lập trình hiện nay đang hướng tới.
                Bản phát hành đầu tiên của ASP.NET đã xuất hiện cách đây 15 năm trước, nó là một phần của .NET Framework. Từ đó, hàng triệu lập trình viên đã sử dụng nó để xây dựng những ứng dụng web tuyệt vời, và trên những năm đó Microsoft đã phát triển thêm nhiều tính năng mới.

                ASP.NET Core có một số thay đổi kiến trúc lớn, đó là kết quả của việc học hỏi rất nhiều từ các framework module hóa khác. ASP.NET Core không còn dựa trên System.Web.dll nữa. Nó được dựa trên một tập hợp các gói, các module hay cũng được gọi là các Nuget packages. Điều này cho phép bạn tối ưu ứng dụng của bạn để chỉ bao gồm những packages nào cần thiết. Lợi ích của nó là giúp cho ứng dụng nhỏ hơn, bảo mật chặt chẽ hơn, giảm sự phức tạp, tối ưu hiệu suất hoạt động và giảm chi phí, thời gian cho việc phát triển.
                <br />
                <br />
                <ul>
                    <h5>Với ASP.NET Core bạn đạt được những nền tảng cải tiến dưới đây:</h5>

                    <li>- Hợp nhất việc xây dựng web UI và web APIs</li>
                    <li>- Tích hợp những client-side frameworks hiện đại và những luồng phát triển</li>
                    <li>- Hệ thống cấu hình dựa trên môi trường đám mây thật sự</li>
                    <li>- Dependency injection được xây dựng sẵn</li>
                    <li>- HTTP request được tối ưu nhẹ hơn</li>
                    <li>- Có thể host trên IIS hoặc self-host trong process của riêng bạn</li>
                    <li>- Được xây dựng trên .NET Core, hỗ trợ thực sự app versioning</li>
                    <li>- Chuyển các thực thể, thành phần, module như những NuGet packages</li>
                    <li>- Những công cụ mới để đơn giản hóa quá trình phát triển web hiện đại</li>
                    <li>- Xây dựng và chạy đa nền tảng(Windows, Mac và Linux)</li>
                    <li>- Mã nguồn mở và tập trung vào cộng đồng</li>
                </ul>


            </div>
        </div>
    </div>
</div>
