@{
    ViewData["Title"] = "Send Code";
    Layout = "~/Views/Shared/Layout_3.cshtml";
}

<br />
<h2>Subscribe thành công. Mời bạn kiểm tra email để xác thực</h2>
<br />
<br />
<a asp-action="Index" asp-controller="TrangChus">Quay về trang chủ</a>
<br />
<br />