@using Microsoft.AspNetCore.Identity
@using WebBanHang.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Free Bootstrap Themes by 365Bootstrap dot com - Free Responsive Html5 Templates">
    <meta name="author" content="http://www.365bootstrap.com">

    <title>Laptop Shop - Nhóm 13</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/style.css">


    <!-- Custom Fonts -->
    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/fonts/font-slider.css" type="text/css">

    <!-- jQuery and Modernizr-->
    <script src="~/js/jquery-2.1.1.js"></script>

    <!-- Core JavaScript Files -->
    <script src="~/js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>




    <!--Top-->
    <nav id="top">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <select class="language">
                        <option value="English" selected>Vietnamese</option>
                        <option value="France">France</option>
                        <option value="Germany">Germany</option>
                        <option value="English">English</option>
                    </select>
                    <select class="currency">
                        <option value="VND" selected>VND</option>
                        <option value="EUR">EUR</option>
                        <option value="USD">USD</option>
                    </select>
                </div>
                <div class="col-xs-6">
                    <ul class="top-link">
                        <ul class="nav navbar-nav navbar-right">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <li>
                                    <a asp-controller="TrangChus" asp-action="Create">
                                        <span class="glyphicon glyphicon-user"></span> Đăng ký
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="TrangChus" asp-action="Login">
                                        <span class="glyphicon glyphicon-log-in"></span> Đăng nhập
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a asp-controller="Admin" asp-action="Profile">
                                        Xin chào,
                                        <b>@User.Identity.Name</b>
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="TrangChus" asp-action="Logout">
                                        <span class="glyphicon glyphicon-log-in"></span> Đăng xuất
                                    </a>
                                </li>
                            }
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!--Header-->
    <header class="container">
        <div class="row">
            <div class="col-md-4">
                <div id="logo"><img style="height:60px" src="~/images/laptopshop.png" /></div>
            </div>
            <div class="col-md-4">
                <form class="form-search">
                    <input type="text" class="input-medium search-query" name="Keyword">
                    <button asp-action="Search" asp-controller="TrangChus" type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>
                </form>
            </div>
            <div class="col-md-4">
                <div id="cart"><a class="btn btn-1" asp-action="index" asp-controller="cart"><span class="glyphicon glyphicon-shopping-cart"></span>Giỏ hàng </a></div>
            </div>
        </div>
    </header>
    <!--Navigation-->
    <nav id="menu" class="navbar">
        <div class="container">
            <div class="navbar-header">
                <span id="heading" class="visible-xs">Categories</span>
                <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-action="Index">Trang chủ</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sản phẩm</a>
                        <div class="dropdown-menu">
                            <div class="dropdown-inner">
                                <ul class="list-unstyled">
                                    <li>
                                        @foreach (var item in ViewBag.model)
                                        {
                                            <a asp-action="Showsp" asp-controller="TrangChus" asp-route-maloai="@item.MaLoai" > @item.TenLoai</a>
                                        }
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cửa hàng</a>
                        <div class="dropdown-menu">
                            <div class="dropdown-inner">
                                <ul class="list-unstyled">

                                    <a asp-action="GioiThieu" asp-controller="TrangChus"> Giới Thiệu</a>
                                    <a asp-action="DieuKhoan" asp-controller="TrangChus"> Điều Khoản</a>
                                    <a asp-action="ChinhSach" asp-controller="TrangChus"> Chính Sách và Dịch Vụ</a>

                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a asp-action="showbaiviet" asp-controller="TrangChus">Tin tức - Sự kiện</a>


                    </li>
                    <li><a asp-action="Contact" asp-controller="TrangChus">Liên hệ</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--//////////////////////////////////////////////////-->
    <!--///////////////////HomePage///////////////////////-->
    <!--//////////////////////////////////////////////////-->

    <div id="result"></div>

    <div id="page-content" class="home-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Carousel -->
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="~/images/MSI_Banner.jpg" alt="First slide">
                                <!-- Static Header -->
                                <div class="header-text hidden-xs">
                                    <div class="col-md-12 text-center">
                                    </div>
                                </div><!-- /header-text -->
                            </div>
                            <div class="item">
                                <img src="~/images/ROG_Banner.jpg" alt="Second slide">
                                <!-- Static Header -->
                                <div class="header-text hidden-xs">
                                    <div class="col-md-12 text-center">
                                    </div>
                                </div><!-- /header-text -->
                            </div>
                            <div class="item">
                                <img src="~/images/HP_banner.jpg" alt="Third slide">
                                <!-- Static Header -->
                                <div class="header-text hidden-xs">
                                    <div class="col-md-12 text-center">
                                    </div>
                                </div><!-- /header-text -->
                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div><!-- /carousel -->
                </div>
            </div>
            <div class="row">
                <div class="banner">
                    <div class="col-sm-4">
                        <img src="images/sub1.jpg" />
                    </div>
                    <div class="col-sm-4">
                        <img src="~/images/sub2.jpg" />
                    </div>
                    <div class="col-sm-4">
                        <img src="~/images/sub3.jpg" />
                    </div>
                </div>
            </div>
            @RenderBody()

        </div>
    </div>
    <footer>
        <div class="container">
            <div class="wrap-footer">
                <div class="row">
                    <div class="col-md-3 col-footer footer-1">
                        <img src="~/images/laptopshop.png" />
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div class="col-md-3 col-footer footer-2">
                        <div class="heading"><h4>Chăm sóc khách hàng</h4></div>
                        <ul>
                            <li><a href="#">Về chúng tôi</a></li>
                            <li><a href="#">Thông tin giao hàng</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                            <li><a href="#">Các điều khoản và diều kiện</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-footer footer-3">
                        <div class="heading"><h4>Liên kết nhanh</h4></div>
                        <ul>
                            <li><a href="#">Tin tức</a></li>
                            <li><a href="#">Danh sách nhãn hiệu</a></li>
                            <li><a href="#">Chinh sách giảm giá</a></li>
                            <li><a href="#">Mặt hàng ngẫu nhiên</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-footer footer-4">
                        <div class="heading"><h4>Liên hệ</h4></div>
                        <ul>
                            <li><span class="glyphicon glyphicon-home"></span>Ho Chi Minh, Viet Nam</li>
                            <li><span class="glyphicon glyphicon-earphone"></span>+8400 000 0000</li>
                            <li><span class="glyphicon glyphicon-envelope"></span>shop@email.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        Your Store © 20xx - <a href="http://www.365bootstrap.com" rel="nofollow" target="_blank">Ecommerce Themes</a> Designed by <a href="http://www.365bootstrap.com" rel="nofollow" target="_blank">365BOOTSTRAP</a>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <ul>
                                <li><img src="images/visa-curved-32px.png" /></li>
                                <li><img src="images/paypal-curved-32px.png" /></li>
                                <li><img src="images/discover-curved-32px.png" /></li>
                                <li><img src="images/maestro-curved-32px.png" /></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>

