
@{
    ViewData["Title"] = "Kết quả Thanh toán";
    Layout = "~/Views/Shared/Layout_3.cshtml";
}

<br />
<h2>Thanh Toán Thành Công</h2>
<br />
<br />
<a asp-action="Index" asp-controller="TrangChus">Quay về trang chủ</a>
<br />
<br />
