@model WebBanHang.Models.Oder
@{
    ViewData["Title"] = "Oderview";
    Layout = "~/Views/Shared/Layout_Sanpham.cshtml";
}

<h2>Oderview</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post"
              enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ShipName" class="control-label"></label>
                <input name="shipName" class="form-control" />
                <span asp-validation-for="ShipName" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="ShipAddress" class="control-label"></label>
                <input name="shipaddress" class="form-control" />
                <span asp-validation-for="ShipAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipEmail" class="control-label"></label>
                <input name="shipemail" class="form-control" />
                <span asp-validation-for="ShipEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipMobile" class="control-label"></label>
                <input name="shipmobile" class="form-control" />
                <span asp-validation-for="ShipMobile" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Gui" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>