@{
    ViewData["Title"] = "HoanThanh";
    Layout = "~/Views/Shared/Layout_3.cshtml";
}

<br />
<h2>Mua Hàng Thất Bại</h2>
<a asp-action="Index" asp-controller="TrangChus">Quay về trang chủ</a>
<br />
<br />
